<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Admission</title>
            <link rel="stylesheet" href="./static/css/style.css">
        </head>
        <body>
            <div class="banner-section">
                <img src="./static/images/banner.jpg" alt="">
            </div>
            <div class="register-menu">
                <div class="top-btn">
                    <a href="/register">REGISTER</a>
                    <a href="/view">VIEW</a>
                </div>
                <div class="down-btn">
                    <a href="/update">UPDATE</a>
                    <a href="/delete">DELETE</a>
                </div>      
            </div>
        </body>
    </html>
