<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>delete</title>
            <link rel="stylesheet" href="../static/css/style.css">
        </head>
        <body>
            <div class="banner-section">
                <img src="../static/images/banner.jpg" alt="">
            </div>
            <div class="delete-section">
                <form action="delete-form" method="post">
                    <input type="number" name="id">
                    <input type="submit" value="DELETE">
                </form>
            </div>
        </body>
    </html>

