<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Document</title>
                    <link rel="stylesheet" href="../static/css/style.css">
                    <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        </head>
        <body>
            <div class="banner-section">
                <img src="../static/images/banner.jpg">
            </div>
            <div class="hero-section">
                <div class="sub-hero-section-1">
                    <img src="../static/images/admissions.jpg" alt="">
                </div>
                <div class="sub-hero-section-2">
                    <a href="/admission"><h1>MANAGE ADMISSIONS</h1></a>
                    <img src="../static/images/college2.jpg" alt="">
                </div>
            </div>
            <div class="gallery-section">
                <div class="sub-gallery">
                    <h1>NRCM GALLERY</h1>
                </div>
                <div class="gallery-pics">
                    <img id='pic' src="../static/images/nrcmbasketball.jpg" alt="" >
                    <img src="../static/images/nrcmstudents.jpg" alt="" >
                    <img src="../static/images/nrcmlibrary.jpg" alt="">
                    <img src="../static/images/nrcmseminar.jpg" alt="">
                    <img src="../static/images/nrcmgraduation.jpg" alt="">
                </div>
            </div>
            <div class="contact-menu">
                <div class="menu-img">
                     <img src="../static/images/nrcmstudent.jpg" alt="">
                </div>
                <div class="menu-content">
                    <pre>
                        <h1>CONTACT OUR VOLUNTEER</h1>
                        <p>For any assistance or any difficulties in the process of admissions,
                        please feel free to reach out to our volunteers</p>
                        <p>She will take care of your picup and accomodation
                        and also she will be the guide to you for the campus tour</p>
                        <p id="mob">(+91)123-456-7890<br>
                        admission@nrcm.com</p>
                    </pre>
                </div>
            </div>
            <div class="footer-section">
                <div class="address-section">
                    <h2>ADDRESS</h2><br>
                        <p>Maisammaguda (V), Kompally,<br>
                        Secundrabad - 500100,<br>
                        Telangana State, India
                        </p>
                </div>
                <div class="form-section">
                    <input type="text" placeholder="Name" name="myname"><br>
                    <input type="email" placeholder="Email" name="mymail"><br>
                    <input type="number" placeholder="Phone" name="mynum"><br>
                    <select name="course" id="">
                        <option value="" disabled selected>Select Course</option>
                        <option value="cse">CSE</option>
                        <option value="ese">ECE</option>
                        <option value="eee">EEE</option>
                        <option value="mech">MECH</option>
                        <option value="civil">CIVIL</option>
                    </select><br>
                    <button>call me</button>
                </div>
                <div class="contact-section">
                    <h2>CONTACT</h2>
                    <p>Phone: +91 9951688777<br>
                    Email: principal@nrcmec.org<br>
                    Website: www.nrcmec.org</p><br>
                </div>
                <div class="copyright-section">
                    <p>Copyright © 2022 || All Rights Reserved ||Developed by N Tejaswi</p>
                </div>
            </div>
        </body>
    </html>
