<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Register</title>
            <link rel="stylesheet" href="../static/css/style.css">
        </head>
        <body>
        <div class="banner-section">
            <img src="../static/images/banner.jpg" alt="">
        </div>
        <form action="/register-form" method="post">
            <input type="number" name="_id" placeholder="Hall Ticket"><br>
            <input type="text" name="sname" placeholder="Name"><br>
            <input type="email" name="email" placeholder="Email"><br>
            <input type="number" name="phone" placeholder="Mobile No"><br>
            <input type="number" name="srank" placeholder="Rank"><br>
            <input type="number" name="percentage" placeholder="Percentage"><br>
            <input type="text" name="course" placeholder="Course Interested"><br>
            <input type="text" name="address" placeholder="Address"><br>
            <input type="submit" placeholder="submit"><br>
        </form>
    </body>
</html>

